<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uom.project.orderallo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".view.SplashActivity_"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.InitialActivity_"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".view.LoginActivity_"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".view.SignUpActivity_"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".view.DashboardActivity_"
            android:theme="@style/AppTheme.NoActionBar"/>

        <!--<service android:name=".service.MyService" />-->

    </application>

</manifest>